.container{


    border: 2px solid black;
    margin-right: 252px;
    margin-left: 252px;
    padding: 16px;


}



.subContainer{
    display: flex;
    align-items: baseline;
    
}

.subContainer > h3{
    padding-right: 32px;
}