.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container2 {
  display: flex;
  justify-content: space-around;
  margin-left: 47px;
  margin-right: 47px;
}

.linkStyle {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}
